<div id="global-header">

    <nav class="navbar navbar-expand-lg bg-success text-white py-3 px-5">
        <div class="container-fluid">
            <a class="navbar-brand text-white fw-bold" href="#">Mundo Animal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-white " id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll px-5" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active text-white " aria-current="page" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " aria-current="page" href="about.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " aria-current="page" href="contact.html">Contáctanos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white " href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Secciones
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Perros</a></li>
                            <li><a class="dropdown-item" href="#">Gatos</a></li>
                            <li><a class="dropdown-item" href="#">Conejos</a></li>
                            <li><a class="dropdown-item" href="#">Hamsteres</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" aria-label="Search" />
                    <button class="btn btn-warning " type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>

</div>